* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    width: 100%;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    text-align: center;
}

.dead{
    font-size: 100px; 
    text-align: center;
    text-decoration: solid;
    background: -webkit-linear-gradient(#9b0000, #4d0000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    margin-top: 2em;
    background-color: #4d0000;
    box-shadow: 0 5px 0 #7F0101;
    color: white; 
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 20px 45px;
    border-radius: 12px;
    text-align: center;
    transition: background-color .5s;
}

.button:focus {
    box-shadow: none;
    margin-bottom: -5px;
    margin-top: calc(2em + 5px);
    background-color: #4d0000;
}
