* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    width: 100%;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #545353;
    text-align: center;
}

.start{
    font-size: 100px;
    text-align: center;
    text-decoration: solid;
    background: -webkit-linear-gradient(#F0C929, #F48B29);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

select {
    border: none;
    outline: none;
}

.button {
    font-size: 40px;
    margin-top: 1em;
    background-color: #F0C929;
    box-shadow: 0 5px 0 #F48B29;
    color: white;
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 20px 45px;
    border: none;
    border-radius: 12px;
    text-align: center;
    transition: background-color .5s;
}

.button:focus {
    box-shadow: none;
    margin-bottom: -5px;
    margin-top: calc(1em + 5px);
    background-color: #F48B29;
}

.selection{
    margin-top: 1rem;
    font-size: 35px;
    text-align: center;
    text-decoration: solid;
    background: -webkit-linear-gradient(#F0C929, #F48B29);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Select {
    margin-top: 0.5em;
    font-size: 40px;
    text-align: center;
    text-decoration: solid;
    background: -webkit-linear-gradient(#F0C929, #F48B29);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Select:focus {
    box-shadow: none;
}