<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Hangman-Web</title>

</head>

<body>
    <h1 class="start">Hangman-Web</h1>
    <h2 class="selection">Please select your difficulty : </h2>
    <form action="/test" method="post">
        <select class="Select" name="Levels" id="Levels-Select" required autofocus>
            <option selected value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
        </select>
        <input type="submit" value="Play" class="button">
    </form>
</body>

</html>